#fancy {
  font-family: cursive;
}
.list,
.ingredients {
  padding: 1px;
  border: 3px;
}

img {
  padding: 10px;
  background-color: black;
}

p {
  color: black;
  text-align: center;
  font-size: larger;
  border: 3px;
  background-color: #9bffc8;
}

* {
  background-color: lightgrey;
  font-family: Arial, Verdana, "Times New Roman";
  display: border-box;
}
